.ascii {
    font-size: 15px;
}

.heading {
    margin-top: 25p;
}

.intro {
    margin-bottom: 50px;
    max-width: 500px;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: inherit;
    font-family: inherit;
    margin-left: 5px;
}

.input:focus {
    border: none;
    outline: none;
}

.commandsList {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    max-width: 600px;
}

.stackWrap {
    display: flex;
    flex-direction: column;
}
.stack {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .stack > svg {
    margin-right: 10px;
 }
 .stack > a {
    margin-right: 10px;
 }
