.ascii {
    font-size: 15px;
}

.heading {
    margin-top: 25p;
}

.intro {
    margin-bottom: 50px;
    max-width: 50%;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: inherit;
    font-family: inherit;
    margin-left: 5px;
}

.input:focus {
    border: none;
    outline: none;
}

.commandsList {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    max-width: 600px;
}

.stackWrap {
    display: flex;
    flex-direction: column;
}
.stack {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack > svg {
    margin-right: 10px;
}
.stack > a {
    margin-right: 10px;
}

.about {
    max-width: 600px;
}

.projectCard {
    max-width: 500px;
    background-color: #303030;
    padding: 5px 15px;
    border-radius: 12px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectCard > a {
    text-align: center;
}

.projectsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 500px) {
    .projectsWrapper {
        grid-template-columns: repeat(1, 1fr);
        background-color: red;
    }
}
