@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* styles */
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 20px;

}

::selection {
    background: white;
    color: black;
}
a {
    text-decoration: none;
    color: var(--blue);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}
